---
import Layout from "../Layout.astro";
import Hero from "../components/Hero.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="mx-auto max-w-7xl px-6 lg:px-8">
    <Hero />
    <FAQ />
    <Footer />
  </main>
</Layout>
